#call {
  width: 85%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
#stream {
  width: 70%;
  height: 100%;
  margin: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
}
#chat {
  width: 30%;
  margin: 2%;
  margin-left: 0px;
  background-color: blanchedalmond;
  border-radius: 40px;
}

#peerFace {
  width: 100%;
  height: 70%;
  border-radius: 40px;
  max-height: 70%;
  min-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: 2%;
}

#myFace {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid whitesmoke;
  border-radius: 20px;
}

#controlBox {
  height: 26%;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
  .iconBox {
    display: flex;
    flex-direction: column;
  }
}
