#welcome {
  h1 {
    color: whitesmoke;
    font-size: 112px;
    font-weight: bold;
    text-shadow: whitesmoke 1px 0 1px;
    margin-bottom: 20px;
  }
}

#enter {
  display: flex;
  flex-direction: column;
  button {
    all: unset;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: rgb(55, 55, 255);
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    span {
      color: whitesmoke;
    }
    i {
      opacity: 0.5;
    }
  }
}

#bg-image {
  z-index: -1;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;

  filter: blur(8px);
  -webkit-filter: blur(8px);
}
