doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href ="/public/css/styles.css")
    body
        img(src="../public/img/greet2.jpg")#bg-image
        div#welcome
            h1 Chat
            form
                button
                    i.fas.fa-video.fa-lg
                    span Enter Room
        div#call
            div#stream
                video#peerFace(autoplay, playsinline)
                h2#wait waiting for opposite...
                video#myFace(autoplay, playsinline)
                div#controlBox
                    div#camera.iconBox
                        button.fas.fa-video.fa-lg
                        span Cam
                    div#mute.iconBox
                        button.fas.fa-microphone.fa-lg
                        span Mic
                    div.iconBox
                        select#cameras
                            option test
                        span Cam Change
            div#chat
                ul#chats
                form
                    input(type="text")
                    button.far.fa-paper-plane.fa-lg
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")