doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href ="/public/css/styles.css")
    body
        img(src="../public/img/greet2.jpg")#bg-image
        div#welcome
            h1 Chat
            form
                button
                    i.fas.fa-video.fa-lg
                    span Enter Room
        div#call
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400", controls)
                button#mute Mute
                button#camera Turn Camera Off
                select#cameras
                    option test
            video#peerFace(autoplay, playsinline, width="400", height="400", controls)
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")